Repository atlp-rwanda/incredible-phantom-backend, pull requests merged in 2020-12, with the labels that each got.

#26 ElYrZR34 Register users and Roles & permissions
  .DS_Store
  .env.example
  .eslintrc.json
  .gitignore
  .nycrc
  .sequelizerc
  .travis.yml
  documentation/swaggerDoc.json
  package-lock.json
  package.json
  src/.DS_Store
  src/controllers/RolesController.js
  src/controllers/i18n.js
  src/controllers/usersController.js
  src/controllers/welcome.js
  src/database/config/config.js
  src/database/migrations/20201118180821-create-user.js
  src/database/migrations/20201124130458-create-users.js
  src/database/migrations/20201126095650-create-role.js
  src/database/models/index.js
  src/database/models/role.js
  src/database/models/user.js
  src/database/seeders/20201118073216-demo-user.js
  src/database/seeders/20201126095830-demo-role.js
  src/documentation/index.js
  src/helpers/errorHandler.js
  src/helpers/pwd.js
  src/index.js
  src/middlewares/checktoken.js
  src/middlewares/validator.js
  src/routers/index.js
  src/routers/rolesRouter.js
  src/routers/usersRouter.js
  src/test/mocks/mockUsers.js
  src/test/roles.test.js
  src/test/test.js
  src/test/test.test.js
  src/test/users.test.js
  src/utils/mail2.js
  src/utils/passwordGenerator.js
  src/validators/userValidator.js
Labels: Team review, documentation, enhancement

#27 mam0lyd Logout from account
  .env.example
  .eslintrc.json
  .nycrc
  .travis.yml
  README.md
  package-lock.json
  package.json
  src/configs/redisClient.js
  src/controllers/RolesController.js
  src/controllers/locales/en.json
  src/controllers/locales/fr.json
  src/controllers/locales/kin.json
  src/controllers/locales/sw.json
  src/controllers/usersController.js
  src/controllers/welcome.js
  src/database/config/config.js
  src/database/models/role.js
  src/documentation/index.js
  src/index.js
  src/middlewares/checktoken.js
  src/middlewares/validator.js
  src/routers/usersRouter.js
  src/test/mocks/mockUsers.js
  src/test/roles.test.js
  src/test/translate.js
  src/test/users.test.js
  src/utils/mail2.js
  src/validators/userValidator.js
Labels: Team review, documentation, enhancement

#32 Reset user password when forgoten
  .babelrc
  .sequelizerc
  .swp
  package-lock.json
  package.json
  src/controllers/locales/en.json
  src/controllers/locales/fr.json
  src/controllers/locales/kin.json
  src/controllers/locales/sw.json
  src/controllers/usersController.js
  src/controllers/welcome.js
  src/database/models/index.js
  src/database/seeders/20201118073216-demo-user.js
  src/documentation/index.js
  src/helpers/signToken.js
  src/index.js
  src/middlewares/checkpasstoken.js
  src/routers/rolesRouter.js
  src/routers/usersRouter.js
  src/test/mocks/mockUsers.js
  src/test/users.test.js
  src/utils/mail2.js
  src/validators/userValidator.js
Labels: Team review, documentation, enhancement

#37 J7srcz5l CRUD functionality for Routes
  .eslintrc.json
  package-lock.json
  package.json
  src/controllers/busStop.js
  src/controllers/locales/en.json
  src/controllers/locales/fr.json
  src/controllers/locales/kin.json
  src/controllers/route.js
  src/database/config/config.js
  src/database/migrations/20201130233429-create-route.js
  src/database/migrations/20201201193639-create-bus-stop.js
  src/database/models/busstop.js
  src/database/models/route.js
  src/documentation/index.js
  src/middlewares/validator.js
  src/routers/busStops.js
  src/routers/index.js
  src/routers/routes.js
  src/routers/usersRouter.js
  src/test/busStop.js
  src/test/i18n.js
  src/test/mocks/mockRoutes.js
  src/test/route.js
  src/test/translate.js
  src/test/users.test.js
  src/validators/busStopValidator.js
  src/validators/routeValidator.js
  src/validators/userValidator.js
Labels: Team review, enhancement

#39 feat: CRUD operation for bus
  package-lock.json
  package.json
  src/controllers/busControllers.js
  src/controllers/locales/en.json
  src/controllers/locales/fr.json
  src/controllers/locales/kin.json
  src/database/config/config.js
  src/database/migrations/20201214195024-create-bus.js
  src/database/models/bus.js
  src/database/models/index.js
  src/documentation/index.js
  src/helpers/errorHandler.js
  src/helpers/successHandler.js
  src/middlewares/validator.js
  src/routers/busRouter.js
  src/routers/index.js
  src/test/bus.test.js
  src/test/busStop.test.js
  src/test/i18n.test.js
  src/test/mocks/mockBus.js
  src/test/route.test.js
  src/validators/busValidator.js
Labels: Team review

#48 OTdumnS8 assigning buses to routes
  src/controllers/assignBusesToRoute.js
  src/controllers/locales/en.json
  src/controllers/locales/fr.json
  src/controllers/locales/kin.json
  src/controllers/route.js
  src/controllers/usersController.js
  src/database/migrations/20201130233429-create-route.js
  src/database/migrations/20201214195024-create-bus.js
  src/database/models/bus.js
  src/database/models/route.js
  src/documentation/index.js
  src/index.js
  src/middlewares/validator.js
  src/routers/assignBuses.js
  src/routers/index.js
  src/routers/routes.js
  src/test/assignBuses.test.js
  src/test/bus.test.js
  src/test/busStop.test.js
  src/test/mocks/mockBus.js
  src/test/route.test.js
  src/test/users.test.js
  src/validators/assignBusesValidator.js
Labels: Manager review, enhancement
